<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <link href='/stylesheets/all.css' rel='stylesheet'>
    <title><%= current_page.data.title %></title>
  </head>
  <body>
    <%= partial "navbar" %>

    <%= partial "header" %>

    <%= yield %>

    <%= partial "footer" %>

    <!-- /container -->
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Don't forget to add jQuery - download the most recent version at http://jquery.com/ -->
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/bootstrap.js'></script>
    <script src='/javascripts/application.js'></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-2114155-1");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>
  </body>
</html>
