- if current_page.path == "index.html"
  .visible-xs.visible-sm
    .jumbotron.content-section
      %h4.normal - Wij zijn by2.be -
      %h1.tagline Contacteer ons
      %adress
        Generaal Lemanlaan 77
        %br
        8310 Assebroek
        %br
        050 969 962
        %br
        team@by2.be

  .visible-lg.visible-md
    .jumbotron.content-section.video-section
      %a#bgndVideo.player{"data-property" => "{videoURL:'http://youtu.be/rC-X1a7K7DM',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1, loop:false, startAt:6}"}
      .container
        %h4.normal - Wij zijn by2.be -
        %h1.tagline= current_page.data.title
        %p.hidden-xs.text-muted= current_page.data.subtitle
        %p
          %a{href: current_page.data.call_to_action_link, class: "btn btn-default btn-large"}
            =current_page.data.call_to_action
            &raquo;
- else
  .visible-lg.visible-md
    .jumbotron.content-section.video-section{"style" => "height: 300px"}
      - if current_page.data[:video]
        %a#bgndVideo.player{"data-property" => "{videoURL:'#{current_page.data[:video]}',startAt:#{current_page.data[:video_start_at]||0}, optimizeDisplay: true, containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}"} bg
      .container
        .col-lg-12
          - if yield_content(:title)
            %h1.tagline= yield_content(:title)
            %p.text-muted= yield_content(:subtitle)
          - else
            %h1.tagline= current_page.data[:title]
            %p.text-muted= current_page.data[:subtitle]

.header-border
