- if current_page.path == "index.html" 
  .jumbotron.content-section.video-section
    .overlay
      %a#bgndVideo.player{"data-property" => "{videoURL:'http://www.youtube.com/watch?v=B3GribQCg6c',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}"} bg
      .container
        %h4.normal - WIJ ZIJN BY2.BE -
        %h1.tagline= current_page.data.title
        %p.hidden-xs.text-muted= current_page.data.subtitle
        %p
          %a{href: current_page.data.call_to_action_link, class: "btn btn-default btn-large"}
            =current_page.data.call_to_action
            &raquo;
- else
  .jumbotron.content-section.video-section
    .overlay
      - if current_page.data[:video]
        %a#bgndVideo.player{"data-property" => "{videoURL:'#{current_page.data[:video]}',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}"} bg
      .container
        .row
          .col-lg-12
            - if yield_content(:title)
              %h1.tagline= yield_content(:title)
              %p.text-muted= yield_content(:subtitle)
            - else
              %h1.tagline= current_page.data[:title]
              %p.text-muted= current_page.data[:subtitle]


.header-border
