---
title: Aan de slag met uw project
subtitle: 
  Elk van onze projecten slaagt door de persoonlijke hands-on aanpak. We bouwen
  samen met u.
steps:
- image: compass
  title: 1 - we verkennen
  text: 
    We laten u ons alles vertellen over uw project, uw deadlines en uw budget. Wij willen ons vooral onderdompelen in uw leefwereld en alle facetten van het probleem leren kennen. We luisteren, noteren en we stellen vragen tot we perfect begrijpen hoe alles in elkaar steekt. Zo komen we te weten of we de juiste partij zijn voor u.
    Ook u kunt vragen stellen. Wat is onze uurprijs, wanneer kunnen we beginnen, hoe werken we samen, hoe houden we u op de hoogte en wat u nog meer wilt weten.
- image: circlecompass
  title: 2 - we plannen
  text: 
    Nu we voldoende informatie hebben kunnen wij aan de slag. We tekenen uit hoe we te werk gaan en maken een inschatting van de nodige tijd. 
    We leggen ons plan aan u uit waardoor u zicht krijgt op de oplossing die we voorstellen. We geven opties en advies zodat u een haalbare keuze kunt maken voor uw project.
- image: tools
  title: 3 - we bouwen
  text: Na een akkoord starten we met het bouwen. Het eindproduct ontstaat uit een proces van opeenvolgend ontwikkelen en terugkoppelen. We hebben wekelijks een overlegmoment. Hierdoor krijgen wij de mogelijkheid te tonen wat we bouwden en krijgt u de mogelijkheid de nieuwste versie te testen, prioriteiten eventueel te herschikken en de volgende sprint te overlopen.
- image: spaceshuttle
  title: 4 - we lanceren
  text: 
    Iedere week geven we u wel de meest recente versie, maar dit is toch een specialer moment. Het moment waar we allebei op wachtten, het moment waarop een feestje op zijn plaats is, het moment waarop het project officieel gelanceerd wordt.
    Samen met u overlopen we hoe het project gelanceerd wordt en we vertellen u perfect wat u kunt verwachten en waarvoor u klaar moet zijn.
- image: volume
  title: 5 - we volgen op
  text: Na de lancering blijven we de applicatie monitoren en zorgen we dat die online blijft. Met uw vragen kunt u steeds bij ons terecht.
---

.container
  - current_page.data.steps.each_slice(2) do |first, second|

    .row
      .col-sm-3.push-down
        %img.img-circle.img-responsive.center-block{:src => "/images/#{first.image}.png"}/
      .col-sm-5
        %h2= first.title
        %p= first.text

    - if second
      .row
        .col-sm-3.col-sm-offset-4.push-down
          %img.img-circle.img-responsive.center-block{:src => "/images/#{second.image}.png"}/
        .col-sm-5
          %h2= second.title
          %p= second.text

  .row{style: "margin-top: 50px"}
    .text-center
      %button.btn.btn-lg.btn-success.pulse Contacteer ons
      %br
      %h4
        \... en de bal begint te rollen
